.sadboiConsole {
  height: 40vh;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2vw;
  top: 0;
  .stat-bar {
    padding-top: 1vh;
    .tooltip-zone {
      display: inline-block;
      height: 2vh;
      .tooltip {
        visibility: hidden;
        width: 60px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
      }
      &:hover .tooltip {
        visibility: visible;
      }
    }
    .stat-logo {
      display: inline-block;
      height: 2vh;
      width: 2vh;
      margin-left: 2vh;
    }
    .stat-change {
      display: inline-block;
      height: 2vh;
      width: 2vh;
      margin-left: -2vh;
      z-index: 1;
    }
    .stat {
      display: inline-block;
      font-size: 2vh;
      padding-left: 3px;
    }
  }
  .sadboiDisplay {
    height: 32vh;
    text-align: center;
    font-size: 1.2vw;
    top: 0;
    overflow-y: scroll;
    padding-left: 4px;
    padding-right: 4px;
    .sadboiMessageDiv {
      display: inline;
      .clickable {
        display: inline;
      }
      span {
        display: block;
      }
      label {
        display: block;
        font-size: .8vw;
      }
    }
  }
  .sadboiInput {
    display: inline;
    text-align: center;
    font-size: 1.2vw;
    top: 0;
    button {
      width: 3vw;
      height: 3vh;
      font-size: 1vw;
      padding: 0;
      text-align: center;
    }
  }
}
