<div class="button-viewport">
    <button *ngIf="!active" class="button" (click)="defyNature()" [disabled]='ultimatelyPointlessExertion!==0'>
      Defy Nature
    </button>
    <button *ngIf="active" class="button" (click)="createLife()" [disabled]='ultimatelyPointlessExertion!==0'>
      Create Life
    </button>
    <div *ngIf="ultimatelyPointlessExertion > 0 && !active" class="progress-bar">
        <div [ngStyle]="{'width.vw':.15*ultimatelyPointlessExertion}" class="progress">Building Cloning Machine</div>
    </div>
    <div *ngIf="ultimatelyPointlessExertion > 0 && active" class="progress-bar">
        <div [ngStyle]="{'width.vw':.15*ultimatelyPointlessExertion}" class="progress">Cloning...</div>
    </div>
    <div *ngIf="active">
        <label>Clone the First Loser You Think Of</label>
        <button (click)="influence(9, $event)">Cost: {{ record.influencePrices[9] }} stress, {{ record.clonePrices[0] }} clones</button>
    </div>
    <div *ngIf="record.influenced[9] > 0">
        <label>Talk to a Clone About How Great Their Original Is</label>
        <button (click)="influence(10, $event)">Cost: {{ record.influencePrices[10] }} stress, {{ record.clonePrices[1] }} clones</button>
    </div>
    <div *ngIf="record.influenced[10] > 0">
        <label>Get a Clone Therapy and Show the Original the Result</label>
        <button (click)="influence(11, $event)">Cost: {{ record.influencePrices[11] }} stress, {{ record.clonePrices[2] }} clones</button>
    </div>
  </div>
