<div class="button-viewport">
  <div class="tooltip-zone">
  <button class="button" (click)="attemptExistance()" [disabled]='futileProgress!==0'>
    Try to Exist
  </button>
  <span class="tooltip">Click to Manually Exist for {{ existManually() | bigNum: 2}} Stress</span>
  </div>
  <button *ngIf="this.record.stress >= 10 && !record.triggerMarriage" (click)="triggerSadboiBasic()">Buy a Digital PA to Track Your Misery (Cost: 10)</button>
  <div class="tooltip-zone">
    <button *ngIf="(this.record.stress >= 1000) && record.triggerMarriage && !activatedGame" (click)="triggerSadboiAdvance()">Buy a Game to Ignore Your Responsibilities (Cost: 1000)</button>
    <span class="tooltip">WARNING: This game replaces your PA, so if you're, like, super attached to the sarcastic updates you won't want to buy this!</span>
  </div>
  <label>To HARD Reset, type HARD-RESET below and click enter</label>
  <form (ngSubmit)="submitReset()" style="vertical-align: text-bottom">
    <input [formControl]="resetInput" type=text>
    <button type="submit">Reset</button>
  </form>
</div>

<script>
</script>
