<div class="store">
    <h1 *ngIf="record.multipliersOwned[0] !== 0">Multiply</h1>
    <h1 *ngIf="record.multipliersOwned[0] === 0">Turn your stress into productivity to generate even more stress!</h1>
    <hr>
    <div>
        <label>Accumulate Despair</label>
        <button (click)='accumulate(0, $event)'>Cost: {{ record.multiplierPrices[0] | bigNum: 2 }}</button>
    </div>
    <div *ngIf='record.multipliersOwned[0] > 0'>
        <label>Wallow in Dread</label>
        <button (click)='accumulate(1, $event)'>Cost: {{ record.multiplierPrices[1] | bigNum: 2 }}</button>
    </div>
    <div *ngIf="record.multipliersOwned[1] > 0">
        <label>Browse the Internet</label>
        <button (click)='accumulate(2, $event)'>Cost: {{ record.multiplierPrices[2] | bigNum: 2 }}</button>
    </div>
    <div *ngIf="record.multipliersOwned[2] > 0">
        <label>Take Out Student Loans</label>
        <button (click)='accumulate(3, $event)'>Cost: {{ record.multiplierPrices[3] | bigNum: 2 }}</button>
    </div>
    <div *ngIf="record.multipliersOwned[3] > 0">
        <label>Refuse to Take Painkillers</label>
        <button (click)='accumulate(4, $event)'>Cost: {{ record.multiplierPrices[4] | bigNum: 2 }}</button>
    </div>
    <div *ngIf="record.multipliersOwned[4] > 0">
        <label>Pull an All Nighter</label>
        <button (click)='accumulate(5, $event)'>Cost: {{ record.multiplierPrices[5] | bigNum: 2 }}</button>
    </div>
  </div>
