<div *ngIf="sadboi.consoleHistory.length >= 1" class="sadboiConsole">
    <div  #autoScroll [scrollTop]="autoScroll.scrollHeight" class="sadboiDisplay">
      <div *ngFor="let print of sadboi.consoleHistory; let last = last" class="sadboiMessageDiv">
          <hr *ngIf="!print.link">
          <span *ngIf="!print.link">{{ print.message }}</span>
          <button *ngIf="print.link" class="clickable" [disabled]="" (click)="autoFill(print.message)">{{ print.message | titlecase}}</button>
      </div>
    </div>
</div>
