<table class="tabs">
  <tr>
    <td>
        <app-manual-existance></app-manual-existance>
    </td>
    <td *ngIf="record.triggerStatus">
        <app-existance-status [record]=record></app-existance-status>
    </td>
    <td *ngIf="record.triggerEfficiency">
        <app-existance-efficiency-modifier [record]=record></app-existance-efficiency-modifier>
    </td>
    <td *ngIf="record.triggerInfluence">
        <app-existance-outsourcing [record]=record></app-existance-outsourcing>
    </td>
    <td *ngIf="record.triggerOutsourcing">
        <app-existance-outsourcing-status [record]=record></app-existance-outsourcing-status>
    </td>
  </tr>
</table>
