<h1 *ngIf="!prepared">Loading Misery...</h1>

<table *ngIf="prepared" class="tabs">
  <tr>
    <td>
        <app-manual-existance [record]=record></app-manual-existance>
    </td>
    <td *ngIf="record.triggerStatus">
        <app-existance-status [record]=record></app-existance-status>
    </td>
    <td *ngIf="record.triggerEfficiency">
        <app-existance-efficiency-modifier [record]=record></app-existance-efficiency-modifier>
    </td>
    <td *ngIf="record.triggerInfluence" rowspan=2>
        <app-existance-outsourcing [record]=record></app-existance-outsourcing>
    </td>
    <td *ngIf="record.triggerCloningMachine">
        <app-cloning-machine [record]=record></app-cloning-machine>
    </td>
    <td *ngIf="record.triggerOutsourcing" rowspan=2>
        <app-existance-outsourcing-status [record]=record></app-existance-outsourcing-status>
    </td>
  </tr>
  <tr>
    <td>
      <app-ascend-existance *ngIf="record.triggerAscension" [record]=record></app-ascend-existance>
    </td>
    <td *ngIf="record.dejaVu > 0 && record.triggerEfficiency" colspan=2>
      <app-sadboi-advance [record]=record></app-sadboi-advance>
    </td>
    <td *ngIf="record.triggerTimeMachine">
        <app-time-machine [record]=record></app-time-machine>
    </td>
  </tr>
</table>
