<table class="tabs">
  <tr>
    <td>
        <app-manual-existance [record]=record></app-manual-existance>
    </td>
    <td *ngIf="record.triggerStatus">
        <app-existance-status [record]=record></app-existance-status>
    </td>
    <td *ngIf="record.triggerEfficiency">
        <app-existance-efficiency-modifier [record]=record></app-existance-efficiency-modifier>
    </td>
    <td *ngIf="record.triggerInfluence" rowspan="2">
        <app-existance-outsourcing [record]=record></app-existance-outsourcing>
    </td>
    <td *ngIf="record.triggerOutsourcing">
        <app-existance-outsourcing-status [record]=record></app-existance-outsourcing-status>
    </td>
  </tr>
  <tr>
    <td *ngIf="record.triggerAscension && record.lifeExperience > 0">
      <app-ascend-existance [record]=record></app-ascend-existance>
    </td>
    <td *ngIf="record.triggerTranscension">
        <app-transcend-existance [record]=record></app-transcend-existance>
      </td>
    <td *ngIf="record.triggerCloningMachine">
        <app-cloning-machine [record]=record></app-cloning-machine>
    </td>
    <td *ngIf="record.triggerTimeMachine">
        <app-time-machine [record]=record></app-time-machine>
    </td>
    <td *ngIf="multiply.multTen">
      (Buy 10)
    </td>
    <td *ngIf="multiply.multTwentyFive">
      (Buy 25)
    </td>
  </tr>
</table>
