.status-box {
  height: 94.1vh;
  border: 2px solid black;
  text-align: center;
  label {
    display: block;
    font-size: 1.2vw;
    margin-top: 10px;
  }
  .tooltip-zone .tooltip {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .tooltip-zone:hover .tooltip {
    visibility: visible;
  }
}
