<div class="status-box">
    <label>Unenthusiastic Nihilists: {{ record.unenthusiasticNihilists }}</label>
    <label *ngIf="record.chainsmokingTeenagers > 0">Chainsmoking Teenagers: {{ record.chainsmokingTeenagers }}</label>
    <label *ngIf="record.dropoutPhilosophyMajors > 0">Dropout Philosophy Majors: {{ record.dropoutPhilosophyMajors }}</label>
    <label *ngIf="record.methodActors > 0">Method Actors: {{ record.methodActors }}</label>
    <label *ngIf="record.upAndComingDrummers > 0">Up and Coming Drummers: {{ record.upAndComingDrummers }}</label>
    <label *ngIf="record.overlySelfAwarePsychologists > 0">Overly Self Aware Psychologists: {{ record.overlySelfAwarePsychologists }}</label>
    <label *ngIf="record.philosophyMajors > 0">Philosophy Majors: {{ record.philosophyMajors }}</label>
    <label *ngIf="record.alcoholicWriters > 0">Alcoholic Writers: {{ record.alcoholicWriters }}</label>
    <label *ngIf="record.recentlyDivorcedDivorceLawyer > 0">Recently Divorced Divorce Lawyers: {{ record.recentlyDivorcedDivorceLawyer }}</label>
    <label *ngIf="record.clonesThatKnowTheyAreAClone > 0">Clones That Know They're a Clone: {{ record.clonesThatKnowTheyAreAClone }}</label>
    <label *ngIf="record.clonesThatWishTheyWereAsGoodAsTheOriginals > 0">Clones That Wish They Were As Good As The Original: {{ record.clonesThatWishTheyWereAsGoodAsTheOriginals }}</label>
    <label *ngIf="record.peopleWithClonesThatHaveSurpassedThem > 0">People With Clones That Have Surpassed Them: {{ record.peopleWithClonesThatHaveSurpassedThem }}</label>
    <label *ngIf="record.clonesOfNietzsche > 0">Clones of Nietzsche: {{ record.clonesOfNietzsche }}</label>
    <label *ngIf="record.clonesOfSamuelBeckett > 0">Clones of Samuel Beckett: {{ record.clonesOfSamuelBeckett }}</label>
    <label *ngIf="record.clonesOfJeanPaulSartre > 0">Clones of Jean-Paul Sartre: {{ record.clonesOfJeanPaulSartre }}</label>
</div>
