<div class="button-viewport">
  <button class="button" (click)="attemptExistance()" [disabled]='futileProgress!==0'>
    Try to Exist
  </button>
  <div class="progress-bar">
    <div [ngStyle]="{'width.vw':.15*futileProgress}" class="progress"></div>
  </div>
  <button *ngIf="record.stress > 10000000 && !record.triggerAutomation" (click)="automate()">Improve Stress Efficiency</button>
  <mat-checkbox *ngIf="record.triggerAutomation" [(ngModel)]="automateAgony">Automate Agony</mat-checkbox>
</div>
