
.button-viewport {
  height: 40vh;
  border: 2px solid black;
  text-align: center;
  top: 0;
  .button {
    height: 3vh;
    margin-top: 1vh;
  }
  .progress-bar {
    height: 3vh;
    width: 15vw;
    background: slategrey;
    margin-top: 1vh;
    margin-left: 1.5vw;
    .progress {
      height: 3vh;
      background: darkblue!important;
    }
  }
}
