.button-viewport {
  height: 40vh;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2vw;
  top: 0;
  h1 {
    display: block;
    margin-top: 10px;
    font-size: 1.5vw;
  }
  button {
    height: 3vh;
    font-size: 1.2vw;
    margin-top: 1vh;
  }
  .tooltip-zone .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .tooltip-zone:hover .tooltip {
    visibility: visible;
  }
}
